################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/VotingSystem.FriendlyFire/FileContentIndex
/.vs/VotingSystem.FriendlyFire/v17
/packages/StyleCop.Analyzers.1.1.118
/VotingSystem.FriendlyFire/bin/Debug
/VotingSystem.FriendlyFire/obj/Debug
